@font-face {
  font-family: "Regular";
  src:url("./assets/fonts/IRANSansWeb(FaNum).woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Bold";
  src:url("./assets/fonts/IRANSansWeb(FaNum) Bold.woff") format("woff");
  font-weight: bold;
}
